$breakpoints: (
  mobile: 360px,
  tablet: 768px,
  iphone: 375px,
  laptop: 1366px,
  desktop: 1920px,
);

@mixin media-query($breakpoint) {
  //map-get returns the value of a key in a map
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @if $breakpoint-value {
    @media (min-width: #{$breakpoint-value}) {
      @content;
    }
  }
}
