@import url("https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

$font-primary: "Open Sans", serif;
$font-secondary: "Arvo", sans-serif;

$font-size-xs: 12px;
$font-size-s: 16px;
$font-size-m: 30px;
$font-size-l: 35px;
$font-size-xl: 50px;
